PANTRYLIST_MONGO_HOST_PORT=37917
PANTRYLIST_BACKEND_HOST_PORT=39173
PANTRYLIST_FRONTEND_HOST_PORT=48673

MONGO_INITDB_ROOT_USERNAME=pantrylist_root
MONGO_INITDB_ROOT_PASSWORD=change-this-root-password
MONGO_INITDB_DATABASE=pantrylist
MONGO_APP_DATABASE=pantrylist
MONGO_APP_USERNAME=pantrylist_app
MONGO_APP_PASSWORD=change-this-app-password
CORS_ORIGIN=http://localhost:48673
