MONGO_INITDB_ROOT_USERNAME=pantrylist_root
MONGO_INITDB_ROOT_PASSWORD=change-this-root-password
MONGO_INITDB_DATABASE=pantrylist
MONGO_APP_DATABASE=pantrylist
MONGO_APP_USERNAME=pantrylist_app
MONGO_APP_PASSWORD=change-this-app-password
